<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Start MongoDb Config -->
    <add key="MongoHost" value="mongodb://localhost:" />
    <add key="MongoPort" value="27017" />
    <add key="MongoDatabase" value="FACTURAS" />
    <!-- End MongoDb Config -->
    
    <!-- Signature Config -->
    <add key="DocUrl" value="E:\Proyectos\Net\controlfacturasws\Public\Documents\" />
    <add key="CertificateUrl" value="E:\Proyectos\Net\controlfacturasws\" />
    <!-- End Signature Config -->

    <!-- Send Grid Config -->
    <add key="SendGridApiKey" value="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" />
    <!-- End Send Grid Config -->
    
    <!-- Email Config  (sendgrid) (smtp) -->
    <add key="emailpreference" value="smtp" />
    <!-- End Email Config -->
    
    <!-- SMTP Config -->
    <add key="SMTPServer" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <add key="SMTPSSL" value="true" />
    <add key="SMTPUsername" value="martinrpolo97@gmail.com" />
    <add key="SMTPPassword" value="mazamorra123" />
    <!-- End SMTP -->
    
    <!-- JWT Config -->
    <add key="JWT_SECRET_KEY" value="ED860D76F5F3C3D443BCBA5B6E8577A2D83C5D317B848DC8477C10C77745F2E8" />
    <add key="JWT_AUDIENCE_TOKEN" value="http://localhost:62189" />
    <add key="JWT_ISSUER_TOKEN" value="http://localhost:62189" />
    <add key="JWT_EXPIRE_MINUTES" value="120" />
    <!-- End JWT Config -->

    <!-- LogConfig -->
    <add key="LOG_DIR" value="E:\Proyectos\Net\controlfacturasws\Log\" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IWcfDianCustomerServices">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="Certificate" algorithmSuite="Basic256Sha256Rsa15" establishSecurityContext="false" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWcfDianCustomerServices" contract="ServiciosDIAN.IWcfDianCustomerServices" name="WSHttpBinding_IWcfDianCustomerServices" />
    </client>
  </system.serviceModel>
</configuration>
